<div class="col-md-3 col-sm-4 col-xs-12">
    <div class="card">
        <img class="card-img img-fluid" src="property.jpg" alt="Card image cap">
          <div class="card-img-overlay">
            <h4 class="card-title" style="color:#fff">My Dashboard</h4>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted"></small></p>
          </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" [routerLink]="['/add-listing']">Add a Property</li>
            <li class="list-group-item" href="#">My Profile</li>
            <li class="list-group-item" href="#">Edit My Profile</li>
        </ul>
    </div>
</div>
<h1 class="display-4">Welcome User!!</h1>

<div class="row">
  <div class="col-sm-6">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">My Property Ads</h4>
          <p class="card-text">Remember to keep your ads updated to attract more visitors.</p>
        </div>
      </div>
  </div>

  <div class="col-sm-6">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">My Favorite Ads</h4>
          <p class="card-text">Note: Deactivated or deleted ads may get lost from your favorite list!</p>
        </div>
      </div>
  </div>
</div>
